@import "../../style.scss";

.ticket {
  width: 506px;
  height: 180px;
  padding: 25px;
  margin-top: 20px;

  display: grid;
  grid-template-rows: 35px 100px;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: white;
  border: $shadow-gray;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 $shadow-gray;

  .ticket__price {
    color: $blue;
    font-size: 22px;
    font-family: Roboto-Medium, sans-serif;

    margin: 0;

    grid-column-start: 1;
    grid-column-end: 2;
  }
  .ticket__airline-logo {
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .ticket__text-block {
    .ticket__primary-info {
      margin-bottom: 0;
      margin-top: 5px;
      display: block;
      height: 14px;
    }
    .ticket__secondary-info {
      color: $text-gray;
      margin-bottom: 0;
      margin-top: 12px;
    }
  }

  @media (width < 520px) {
    width: 400px;
  }
}