@import "../../style.scss";
.filter-tabs {
  width: 506px;
  height: 50px;

  .filter-tabs__tab {
    font-family: FiraSans-Medium, sans-serif;
    width: 253px;
    height: 50px;

    background-color: white;
    border: 1px solid $shadow-gray;
    color: $black;

    transition-duration: 0.2s;

    @media (width < 520px) {
      width: 200px;
    }
  }
  .filter-tabs__tab:hover {
    background-color: $background-blue;
    transform: scale(1.007);
  }
  .filter-tabs__tab--active:hover {
    background-color: $hover-blue
  }
  :last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 5px 0 10px 0 $shadow-gray;
   }
  :first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: -5px 0 10px 0 $shadow-gray;
  }
  .filter-tabs__tab--active {
    background-color: $blue;
    color: white;
    border: 1px solid $blue;
  }
  @media (width < 520px) {
    width: 400px;
  }
}