$blue: #2196F3;
$hover-blue: #0D7ED9;
$text-gray: #ACBAC2;
$background-gray: #F3F7FA;
$shadow-gray: #DADEE1;
$black: #4D4D4D;
$background-blue: #F1FCFF;
$background-pink: #f2bbb8;
$background-red: #DF8B8E;
$border-red: #C65357;
$border-yellow: #9e8959;
$background-yellow:#FCF2C0;
